<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1> Welcome to my blog </h1>
    <p> orem ipsum dolor sit amet, et pro detraxit laboramus. Et movet platonem per, his et possim iuvaret delenit. Te denique sensibus vim, nam ne dolor timeam perfecto, cum atqui appareat dignissim id. Ius modus solet no.

Te pro aperiri equidem dissentiunt, duo an imperdiet urbanitas. Amet cetero pri ut, elit reque duo in, nullam altera ut his. Ex usu vitae sanctus. Cu mei homero epicurei, in quo modo erroribus. Probo aeque dolorem at has, nec id quod efficiendi.

At esse illud ocurreret duo. Rebum nostrud consequat eu has, ludus omnesque consulatu id vix, ius te odio splendide. Cu sit quis delectus tractatos, nec cu ludus minimum salutatus. Mei graeci accusam an, veri meliore liberavisse ne sed.

Persius commune his at, te sed dicit tantas tamquam, te ullum simul urbanitas per. Id quot torquatos mei, cu labores dolorem platonem cum, id natum idque dignissim vim. Sumo labore delicatissimi te his, at tollit munere democritum nam. Vix sonet offendit singulis an, corpora ocurreret usu cu. Ad pro omnium aliquip volumus, cum eu delenit debitis. Mea quot elit volumus ad, vim labore aeterno ne.  </p>
  </div>
</div>